@font-face {
  font-family: "GraphikLCG-Regular";
  src: url("static/fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("static/fonts/GraphikLCG-Regular.woff") format("woff");
}
@font-face {
  font-family: "GraphikLCG-Medium";
  src: url("static/fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("static/fonts/GraphikLCG-Medium.woff") format("woff");
}
@font-face {
  font-family: "LabGrotesque-Light";
  src: url("static/fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("static/fonts/LabGrotesque-Light.woff") format("woff");
}
@font-face {
  font-family: "LabGrotesque-Regular";
  src: url("static/fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("static/fonts/LabGrotesque-Regular.woff") format("woff");
}
