@font-face {
  font-family: "GraphikLCG-Regular";
  src: url("static/fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("static/fonts/GraphikLCG-Regular.woff") format("woff");
}
@font-face {
  font-family: "GraphikLCG-Medium";
  src: url("static/fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("static/fonts/GraphikLCG-Medium.woff") format("woff");
}
@font-face {
  font-family: "LabGrotesque-Light";
  src: url("static/fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("static/fonts/LabGrotesque-Light.woff") format("woff");
}
@font-face {
  font-family: "LabGrotesque-Regular";
  src: url("static/fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("static/fonts/LabGrotesque-Regular.woff") format("woff");
}
@font-face {
  font-family: "SFProDisplay-Medium";
  src: url("static/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("static/fonts/SFProDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("static/fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("static/fonts/MuseoSansCyrl-500.woff") format("woff");
}
@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("static/fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("static/fonts/MuseoSansCyrl-700.woff") format("woff");
}
@font-face {
  font-family: "MuseoSansCyrl-900";
  src: url("static/fonts/MuseoSansCyrl-900.woff2") format("woff2"),
    url("static/fonts/MuseoSansCyrl-900.woff") format("woff");
}
